<ul class="tabs">
    <li>
        <a href="#">
            <i class="flaticon-hamburger"></i>
            <span>Burgers</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="flaticon-boiled"></i>
            <span>Chickhen</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="flaticon-frappe"></i>
            <span>Beverage</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="flaticon-tea-cup"></i>
            <span>Coffee</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="flaticon-pizza-slice"></i>
            <span>Pizzas</span>
        </a>
    </li>
</ul>