<div class="home-item item-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-content">
                            <img src="assets/img/slider/burger.png" alt="image">
                            <span>Sản phẩm với thông tin thú vị</span>
                            <h1>Chickensup Burger</h1>
                            <ul class="list">
                                <li>
                                    <i class="flaticon-share"></i>
                                    Thêm nấm cho burger
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Nhiều Cheese hơn
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Hương vị thịt xông khói
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="slider-image">
                            <img src="assets/img/slider/image1.png" alt="image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-item item-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-content">
                            <img src="assets/img/slider/burger.png" alt="image">
                            <span>Sản phẩm với thông tin thú vị</span>
                            <h1>Chickensup Burger</h1>
                            <ul class="list">
                                <li>
                                    <i class="flaticon-share"></i>
                                    Thêm nấm cho burger
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Nhiều Cheese hơn
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Hương vị thịt xông khói
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="slider-image">
                            <img src="assets/img/slider/image2.png" alt="image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-item item-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-content">
                            <img src="assets/img/slider/burger.png" alt="image">
                            <span>Sản phẩm với thông tin thú vị</span>
                            <h1>Chickensup Burger</h1>
                            <ul class="list">
                                <li>
                                    <i class="flaticon-share"></i>
                                    Thêm nấm cho burger
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Nhiều Cheese hơn
                                </li>
                                <li>
                                    <i class="flaticon-share"></i>
                                    Hương vị thịt xông khói
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="slider-image">
                            <img src="assets/img/slider/image3.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>