<div class="main-slider-area">
    <div class="home-slider owl-carousel owl-theme">
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <img src="assets/img/slider/burger.png" alt="image">
                                    <span>Updated Menu's Item</span>
                                    <h1>Chickensup Burger</h1>
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Integrated With Mushroom
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Cheese Integrated
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Bacon Flavour
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-image">
                                    <img src="assets/img/slider/image1.png" alt="image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <img src="assets/img/slider/burger.png" alt="image">
                                    <span>Updated Menu's Item</span>
                                    <h1>Chickensup Burger</h1>
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Integrated With Mushroom
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Cheese Integrated
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Bacon Flavour
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-image">
                                    <img src="assets/img/slider/image2.png" alt="image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <img src="assets/img/slider/burger.png" alt="image">
                                    <span>Updated Menu's Item</span>
                                    <h1>Chickensup Burger</h1>
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Integrated With Mushroom
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Cheese Integrated
                                        </li>
                                        <li>
                                            <i class="flaticon-share"></i>
                                            Bacon Flavour
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="slider-image">
                                    <img src="assets/img/slider/image3.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>